img{
    width: 200px;
    height: 200px;
    margin: 12px;
    
    display: inline-block;
    background-image:url() ;
    border-radius: 50%;
    justify-content: center;
    outline: 10px solid rgb(248, 31, 31);
   
}
body{
    text-align: center;
    margin-top: 20%;
}

.container>img{
    outline: 10px solid black;
}
    